!!! 5
%html
 %head{lang:"en"}
  %meta{charset:"utf-8"}
  %title
   haml
  %link{rel:"stylesheet",href:"inside.css"}
 %body
  .outer
   %p outer &ltdiv&gt
   .inner 
    %p inner &ltdiv&gt
    .core
     %p core &ltdiv&gt
