$blue:#708c87;
$margin:5%;
$cream:#f2efeb;
$cream2:$cream - 100;


body{
	background:#262626;
	font-family:helvetica,ariel,sans-serif;
}
p{margin:20px 0 0 $margin}
header{
	margin: 20px 0 0 $margin;
}
h1{color:$blue;}
h2{
	color:$blue; margin: 10px $margin+5%;
}
a{
	color:$blue;
}

.grad{
	padding: 1%;
	background-color: $cream;
	background-image: -webkit-linear-gradient(top,$cream,cream2);
		.par1{
			color: $blue;
		 a{
		 	font-size: 20px;
		 }
		}

}
