body{
	background-color: #fff;
}
.side li{
	background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/29841/arrow.png") 90% 1% no-repeat;
  	background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/29841/arrow.svg") 90% 50% no-repeat;
  	list-style-type: none;
   	border-bottom: 1px solid #000;
}

.side{
	position: fixed;
	top:0;
	left: 0;
	bottom: 0;
	padding-left:0;
	margin-top: 3.2%;
	width: 12%;
	background-color: #ccffcc;
}


.side li a{
	text-decoration:none;
	color: #000;
	padding-left: 8%;
}
.side li a:hover{
	color: #fff;

}
.top{
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	height: 6%;
		
	font: 18px/10px  "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	padding-left: 1%;
}
.top nav{
	position: absolute;
	right: -1px;
	top:0;
}
.top ul{
	
	font: 14px/7px  "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
.top li{
	display: inline-block;
	}


.top a{
	text-decoration: none;
	padding:23px 13px;
	color:#fff;
	


}

.top a:hover{
	background-color: #fff;
	color: #000;
	}

.bottom{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 30px;
	box-sizing: border-box;
	text-align: center;
	padding: 5px 0;

	color:#a0a0a0;
}

.top,
.bottom{
	background-color: #303030;

}